{% extends 'home.html' %}

{% block content %}
{% comment %} <main class="bb ze ki xn 2xl:ud-px-0 oo wf yf i py-16">
  <div class="tc wf cg ep">
    <h1 class="text-4xl font-bold mb-4">About The University</h1>
    <p class="mb-6 text-lg leading-relaxed">
      Our university is committed to excellence, innovation, and student success. 
      Established with a vision to provide high-quality education and foster research 
      and development, we aim to prepare our students for the challenges of the modern world.
    </p>
    <p class="mb-6 text-lg leading-relaxed">
      With a diverse community of students and faculty, we offer a wide range of programs 
      across various disciplines. Our state-of-the-art campus, modern facilities, and 
      experienced faculty ensure a supportive and engaging learning environment.
    </p>
    <p class="mb-6 text-lg leading-relaxed">
      We believe in holistic education, encouraging students to participate in cultural, 
      social, and extracurricular activities. Our graduates are equipped with the knowledge, 
      skills, and values to excel in their careers and contribute positively to society.
    </p>
  </div>
</main> {% endcomment %}
{% endblock %}